<!-- Header -->


<!-- Sidebar -->
<aside class="sidebar trans-0-4">
	<!-- Button Hide sidebar -->
	<button class="btn-hide-sidebar ti-close color0-hov trans-0-4">.</button>

	<!-- - -->
	<ul class="menu-sidebar p-t-95 p-b-70">
		<li class="t-center m-b-13">
			<a href="index.html" class="txt19">Home</a>
		</li>

		<li class="t-center m-b-13">
			<div routerLink="/menu">Menu</div>
		</li>

		<li class="t-center m-b-13">
			<a href="gallery.html" class="txt19">Gallery</a>
		</li>

		<li class="t-center m-b-13">
			<a href="about.html" class="txt19">About</a>
		</li>

		<li class="t-center m-b-13">
			<a href="blog.html" class="txt19">Blog</a>
		</li>

		<li class="t-center m-b-33">
			<a href="contact.html" class="txt19">Contact</a>
		</li>

		<li class="t-center">
			<!-- Button3 -->
			<a href="reservation.html" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
				Reservation
			</a>
		</li>
	</ul>

	<!-- - -->
	<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
		<!-- - -->
		<h4 class="txt20 m-b-33">
			Gallery
		</h4>

		<!-- Gallery -->
		<div class="wrap-gallery-sidebar flex-w">
			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-01.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-01.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-02.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-02.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-03.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-03.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-05.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-05.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-06.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-06.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-07.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-07.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-09.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-09.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-10.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-10.jpg" alt="GALLERY">
			</a>

			<a class="item-gallery-sidebar wrap-pic-w" href="../../assets/pato/images/photo-gallery-11.jpg"
				data-lightbox="gallery-footer">
				<img src="../../assets/pato/images/photo-gallery-thumb-11.jpg" alt="GALLERY">
			</a>
		</div>
	</div>
</aside>

<!-- Slide1 -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image: url(../../assets/teste1.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
					<span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
						Welcome to
					</span>

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Pato Place
					</h2>

					<div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
						<!-- Button1 -->
						<div routerLink="/menu" style="cursor: pointer;" tabindex="0" role="button">
							Menu
						</div> Look Menu
					</div>
				</div>
			</div>



		</div>

		<div class="wrap-slick1-dots"></div>
	</div>
</section>

<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-t-45 p-b-30">
				<div class="wrap-text-welcome t-center">
					<span class="tit2 t-center">
						MenuQr
					</span>

					<h3 class="tit3 t-center m-b-35 m-t-5">
						Welcome to MenuQr
					</h3>

					<p class="t-center m-b-22 size3 m-l-r-auto">Vos clients peuvent accéder facilement à votre menu en
						scannant un simple code, sans besoin de support papier. Notre plateforme vous permet de mettre à
						jour
						vos produits, vos prix et vos offres en temps réel. Une solution pratique, rapide et moderne
						pour
						valoriser votre établissement.

						<a href="about.html" class="txt4">
							Our Story
							<i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
						</a>
				</div>
			</div>

			<div class="col-md-6 p-b-30">
				<div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
					<img src="../../assets/scan.PNG" alt="IMG-OUR">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Intro -->
<section class="section-intro">
	<div class="header-intro parallax100 t-center p-t-135 p-b-158"
		style="background-image: url(../../assets/pato/images/bg-intro-01.jpg);">
		<span class="tit2 p-l-15 p-r-15">
			<!-- Discover -->
		</span>

		<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
			Les Caffee </h3>
	</div>
	<router-outlet></router-outlet>
	<div class="content-intro bg-white p-t-77 p-b-133">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-t-30">
					<!-- Block1 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<a routerLink="/coffee3"> <img src="../../assets/coffe1.PNG" alt="IMG-INTRO"></a>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a routerLink="/coffee3">

								<h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Café Évasion
								</h4>
							</a>

							<p class="m-b-20">
								Un moment de détente à la découverte de cafés torréfiés avec une saveur douce, élégante
								et parfaitement équilibrée.
							</p>


						</div>
					</div>
				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block1 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<a href="/coffee">
								<img src="../../assets/coffe2.PNG" alt="IMG-INTRO">
							</a>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a href="/coffee">
								<h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Café Gourmand
								</h4>
							</a>

							<p class="m-b-20">
								Une expérience gourmande où chaque tasse révèle des arômes riches, chauds et
								parfaitement préparés pour sublimer vos pauses.
							</p>


						</div>




					</div>





				</div>

				<div class="col-md-4 p-t-30">
					<!-- Block1 -->
					<div class="blo1">
						<div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
							<a routerLink="/coffee2"><img src="../../assets/coffe3.PNG" alt="IMG-INTRO"></a>
						</div>

						<div class="wrap-text-blo1 p-t-35">
							<a routerLink="/coffee">
								<h4 class="txt5 color0-hov trans-0-4 m-b-13">
									Café Prestige
								</h4>
							</a>

							<p class="m-b-20">
								Une sélection raffinée de cafés exclusifs conçue pour les amateurs de qualité,
								d’originalité et de moments de plaisir inoubliables.
							</p>


						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
	<div class="container">
		<div class="title-section-ourmenu t-center m-b-22">
			<span class="tit2 t-center">
				Consulter </span>

			<h3 class="tit5 t-center m-t-2">
				Les Restaurants </h3>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../../assets/rest1.PNG" alt="IMG-MENU">

							<!-- Button2 -->
							<!-- <a href="#" class="btn2 flex-c-m txt5 ab-c-m size4">
								Lunch
							</a> -->
						</div>
					</div>

					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../../assets/rest2.PNG" alt="IMG-MENU">

							<!-- Button2 -->
							<!-- <a href="#" class="btn2 flex-c-m txt5 ab-c-m size5">
								Dinner
							</a> -->
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../../assets/rest3.PNG" alt="IMG-MENU">

							<!-- Button2 -->
							<!-- <a href="#" class="btn2 flex-c-m txt5 ab-c-m size6">
								Happy Hour
							</a> -->
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../../assets/restau7.PNG" alt="IMG-MENU">

							<!-- Button2 -->
							<!-- <a href="#" class="btn2 flex-c-m txt5 ab-c-m size7"> -->
							<!-- Drink
							</a> -->
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../../assets/resta7.PNG" alt="IMG-MENU">

							<!-- Button2 -->
							<!-- <a href="#" class="btn2 flex-c-m txt5 ab-c-m size8">
								Starters
							</a> -->
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../../assets/rest6.PNG" alt="IMG-MENU">

							<!-- Button2 -->
							<!-- <a href="#" class="btn2 flex-c-m txt5 ab-c-m size9">
								Dessert
							</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>




<section class="pricing-section p-t-100 p-b-100">
  <div class="container">

    <div class="t-center m-b-50">
      <span class="tit2">Pricing</span>
      <h2 class="tit3">Choose the perfect plan for your restaurant</h2>
      <p>
        Start with a 14-day free trial and upgrade when you're ready.
      </p>
    </div>

    <div class="row justify-content-center">

      <!-- PRO PLAN -->
      <div class="col-md-6 col-lg-5 m-b-30">
        <div class="pricing-card text-center">

          <div class="pricing-header">
            <h3>Pro Plan</h3>
            <p class="pricing-subtitle">
              Perfect for restaurants that want a modern digital menu.
            </p>
          </div>

          <div class="pricing-price">
            <h1>499 DT</h1>
            <span class="currency">
              One-time payment + <strong>0 DT/year</strong>
            </span>
            <p class="m-t-10">Includes a 14-day free trial</p>
          </div>

          <ul class="pricing-features text-left">
            <li><i class="fa fa-check"></i> Custom restaurant website</li>
            <li><i class="fa fa-check"></i> Dynamic QR Code menu</li>
            <li><i class="fa fa-check"></i> Unlimited products & categories</li>
            <li><i class="fa fa-check"></i> Customize colors & branding</li>
            <li><i class="fa fa-check"></i> Restaurant dashboard</li>
            <li><i class="fa fa-check"></i> Update your menu anytime</li>
            <li><i class="fa fa-check"></i> Mobile-optimized experience</li>
            <li><i class="fa fa-check"></i> No yearly subscription</li>
          </ul>

          <div class="pricing-button">
            <a href="/register" class="btn btn-primary">
              Start Free Trial
            </a>
          </div>

          <p class="small-text m-t-20">
            No credit card required.
          </p>

        </div>
      </div>

      <!-- ELITE PLAN -->
      <div class="col-md-6 col-lg-5 m-b-30">
        <div class="pricing-card text-center position-relative elite-card">



          <div class="pricing-header">
            <h3>Elite Plan</h3>
            <p class="pricing-subtitle">
              Complete restaurant management platform.
            </p>
          </div>

          <div class="pricing-price">
            <h1>999 DT</h1>
            <span class="currency">
              One-time payment + <strong>99 DT/year</strong>
            </span>
            <p class="m-t-10">Includes a 14-day free trial</p>
          </div>

          <ul class="pricing-features text-left">
            <li><i class="fa fa-check"></i> Everything included in <strong>Pro</strong></li>
            <li><i class="fa fa-check"></i> Order Management System</li>
            <li><i class="fa fa-check"></i> Daily financial reports</li>
            <li><i class="fa fa-check"></i> Monthly financial reports</li>
            <li><i class="fa fa-check"></i> Complete sales analytics</li>
            <li><i class="fa fa-check"></i> Expense & charge tracking</li>
            <li><i class="fa fa-check"></i> Business performance dashboard</li>
            <li><i class="fa fa-check"></i> Restaurant logo featured on the Elite Partners page</li>
            <li><i class="fa fa-check"></i> Priority support</li>
          </ul>

          <div class="pricing-button">
            <button class="btn btn-secondary" disabled>
              Coming Soon
            </button>
          </div>

          <p class="small-text m-t-20">
            Available in a future release.
          </p>

        </div>
      </div>

    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg1">
	<div class="container p-t-40 p-b-70">
		<div class="row">
			<div class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-33">
					Contact Us
				</h4>

				<ul class="m-b-70">
					<li class="txt14 m-b-14">
						<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
						All Tunis
					</li>

					<li class="txt14 m-b-14">
						<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
						(+216) 94 190 332 / (+216) 50 837 061
					</li>

					<li class="txt14 m-b-14">
						<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
						contact&#64;menuqr.com
					</li>
				</ul>

				<!-- - -->
				<h4 class="txt13 m-b-32">
					Opening Times
				</h4>

				<ul>
					<li class="txt14">
						06:30 AM – 11:30 PM
					</li>

					<li class="txt14">
						Every Day
					</li>
				</ul>
			</div>

			<div class="col-sm-6 col-md-4 p-t-50">
				<!-- - -->
				<h4 class="txt13 m-b-33">
					Latest twitter
				</h4>

				<div class="m-b-25">
					<span class="fs-13 color2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<a href="#" class="txt15">
						&#64;colorlib
					</a>

					<p class="txt14 m-b-18">
						Activello is a good option. It has a slider built into that displays the featured image in the
						slider.

					</p>

					<span class="txt16">
						21 jul 2026
					</span>
				</div>

				<div>
					<span class="fs-13 color2 m-r-5">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</span>
					<a href="#" class="txt15">
						&#64;colorlib
					</a>

					<p class="txt14 m-b-18">
						Activello is a good option. It has a slider built into that displays
						=
					</p>

					<span class="txt16">
						21 Dec 2017
					</span>
				</div>
			</div>
		</div>

	</div>

	<div class="end-footer bg2">
		<div class="container">
			<div class="flex-sb-m flex-w p-t-22 p-b-22">
				<div class="p-t-5 p-b-5">
					<a href="#" class="fs-15 c-white"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
					<a href="#" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
					<a href="#" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
				</div>

				<div class="txt17 p-r-20 p-t-5 p-b-5">
					Copyright &copy; 2018 All rights reserved | This template is made with <i class="fa fa-heart"></i>
					by
				</div>
			</div>
		</div>
	</div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

	<div class="modal-dialog" role="document" data-dismiss="modal">
		<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

		<div class="wrap-video-mo-01">
			<div class="w-full wrap-pic-w op-0-0"><img src="images/icons/video-16-9.jpg" alt="IMG"></div>
			<div class="video-mo-01">
				<iframe src="https://www.youtube.com/embed/5k1hSu2gdKE?rel=0&amp;showinfo=0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
