.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #f1c40f !important; /* optional hover color */
}
.customer_text1 {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 15px;
}
.about_text1 {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 15px;
}